* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   body {
    font-family: Arial, sans-serif;
    background-color: gold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.input-box {
     width: 100%;
     height: 100%;
     background: transparent;
     border: none;
     outline: none;
     border: 2px solid rgba(143, 133, 133, 0.2);
     border-radius: 40px;
     color: rgb(0, 0, 0);
     font-size: 16px;
     padding: 20px 45px 20px 20px;
     font-family: Arial, Helvetica, sans-serif;
}

.delete-button {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}